*{
    padding: 0;
    margin: 0;
}
#qrcode{
    display: flex;
    justify-content: center;
}
.offcanvas.offcanvas-end{
    height: max-content;
    width: 200px !important;
    background-color: rgb(255, 255, 255);
    color: black ;
    border-width: 10px;
    opacity: 1;
    margin-top: 72px;
    margin-right: 5%;
    border-radius: 20px;

}
#header {
    color: #fff; /* White text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}
.container-fluid{
    padding: 0 !important;
}
.header-nav {
    color: rgb(10, 10, 10);
}
.course-header-button{
    border: none;
}
.navbar-toggler{
    size: 100% !important;
    outline: none;
    border: none !important;
}
.navbar{
    padding: 0 !important;
}
.navbar-nav .nav-link {
    color: #0e0e0e !important; /* Change text color to white */
    font-weight: 400;
    padding: 0.5rem;
}
.navbar-nav .nav-link:hover{
    background-color: #0e0e0e51;
    color: white !important;
}
.line{
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 4rem;
}
.header-logo {
    max-width: 100%; /* Adjust the size as needed */
    max-height: 100px;
    height: auto;
    margin-left: 20px;
}
.header-links {
    margin-right: 40px;
    max-width: 70%;
    display: flex;
}
.header-button {
    background-color: transparent;
    border-color: rgb(124, 111, 111);
    size: 100%;
    border-radius: 20px;
    margin-right: 10px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
}
.course-button{
    background-color: transparent;
    border-color: rgb(124, 111, 111);
    size: 100%;
    border-radius: 6px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px; 
}
.header-links .course-button{
    background-color: transparent;
    size: 100%;
    margin-right: 10px;
    font-weight: 500;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px; 
    border: none;
}
body {
    margin-top: 100px;
    background-image: url('/photos/newBg.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
    
}
.coachingContent{
    /* background-color: red; */
    text-align: center;
    width: 50%;
    margin: 200px 0 auto auto;
    

}

#coachingGoods{
    /* height: max-content; */
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 60vh;
}
.homepagewords{
    font-size: 40px;

}
#coursediv{
    
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    
}
#coachingCodeContent{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2rem auto;
}
.taglines{
    width: 38%;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;

}
.coadelines{
    width: 40%;
    background-color: black;
    color: white;
    text-align: left;
    padding: 1rem;
    border-radius: 10px;
}
.coadelines p {
    margin: 0;
    font-weight: 400;
}
.cources{
    height: fit-content;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}
.coall{
    padding: 20px;
    margin: 20px;
    width: 400px;
    height: fit-content;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.375);
    height: 80vh;
}
.coall img {
    width: 350px;
    border-radius: 10px;
    margin-bottom: 0;
}
.coall p{
    text-align: justify;
    font-size: 14px;
    height: 10vh;
    margin: 0px 10px;
}
.coall h4{
    font-size: 16px;
    margin: 0;
}
.coursebutton{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.coursebutton button {
    border-radius: 10ox;
}
.coursedivcontent{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cfooter{
    padding: 20px;
    height: fit-content;
    background-color: #1f1e1e;
    color: white;
    
}
.footer-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact_Us_List {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .contact_Us_List li {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .contact_Us_detail a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
  }
  
  .contact_Us_detail a:hover {
    text-decoration: underline;
  }
  
  .contact_Us_detail svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    
  }
  
  .iconheightmap {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .footer-logo{
    height: 200px;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
  }
  #modalContent{
    text-align: center;
  }
  .cross {
    position: relative;
    display: inline-block;
}
.cross::before, .cross::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}
.cross::before {
    border-bottom: 1px solid rgb(255, 48, 48);
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
    
}
.cross::after {
    border-bottom: 1px solid rgb(255, 48, 48);
    -webkit-transform: skewY(10deg);
    transform: skewY(10deg);
}
@media only screen and (max-width: 1030px) and (min-width:600px) {
    #coachingGoods{
       
        margin-left: 120px;
        margin-right: 120px;
    }
    .coall{
        height: 40vh;
    }
    .coursedivcontent{
        height: 20vh;
    }
    .coall img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 600px) {
    .offcanvas.offcanvas-end{
        margin-top: 72px;
        margin-right: 5%;
        border-radius: 20px;
    
    }
    .coall{
        height: 60vh;
    }
    .coall img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 0;
    }
    .coursedivcontent{
        height: 40vh;
    }
    #coursediv{
        text-align: center;
        margin-top: 0px;
    }
    .header-logo {
        max-width: 20%; /* Adjust the size for smaller screens */
        max-height: 70px;
        margin-left: 10px;
    }
    
    /* Change the text of the first link for screens less than 600px */
    .header-links {
        margin-right: 20px;
        max-width: 70%;
    }
    .coachingContent{
        /* background-color: red; */
        text-align: center;
        width: 50%;
        margin: 10px 0 auto auto;
        font-size: 14px !important;
        width: 100%;
        
    
    }
    .coachingContent h3 {
        /* background-color: red; */
        text-align: top;
        width: 60%;
        margin: 10px 0 auto auto;
        font-size: 14px !important;
        
    
    }
    .coachingContent h1 {
        /* background-color: red; */
        text-align: center;
        width: 60%;
        margin: 10px 0 auto auto;
        font-size: 14px !important;
        
    
    }

    #coachingGoods{
       
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
        height: 20vh;
        width: 100%;
        text-align: center;
        
    }
   
    .homepagewords{
        font-size: 30px;
    }
    
}
@media only screen and (max-width: 426px) {
    body {
        background-size: 100vw 30vh;
    }
    #coachingGoods{
        
        margin-left: 13px;
        margin-right: 13px;
        
    }
    .homepagewords{
        font-size: 22px;
    }
}
@media only screen and (max-width: 374px) {
    #coachingGoods{
        
        margin-left: 10px;
        margin-right: 10px;
        
    }
    .homepagewords{
        font-size: 17px;
    }
    .header-button{
        display: none;
    }
}